.clearfix {
  overflow: auto;
  zoom: 1; }

html,
body {
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%; }

a {
  color: #c4943a;
  text-decoration: none; }

body {
  background: #f4e6c3;
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(178, 177, 129, 0.23) 0%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4e6c3), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(178, 177, 129, 0.23) 0%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(178, 177, 129, 0.23) 0%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(178, 177, 129, 0.23) 0%, white 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(178, 177, 129, 0.23) 0%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4e6c3', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
  font-family: 'Open Sans', sans-serif; }

section {
  background-color: #fff;
  box-shadow: 1px 1px 3px #333;
  margin: 0 auto;
  margin-bottom: 100px;
  max-width: 100%;
  width: 900px; }

nav {
  background-color: #fff;
  box-shadow: 1px 1px 3px #333;
  height: 67px;
  margin-bottom: 30px;
  width: 100%; }
  nav ul {
    list-style: none;
    margin: 0;
    min-height: 67px;
    padding: 0 0 5px;
    text-align: center;
    width: 100%; }
  nav li {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    display: inline-block;
    padding: 20px;
    text-transform: capitalize; }
  nav a {
    color: #000;
    cursor: pointer; }
  nav a:hover {
    color: #c4943a; }
  nav .active {
    color: #fff;
    background-color: #D6B474;
    border-bottom: 5px solid #c4943a; }

header {
  background-image: url("../images/header3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 330px;
  text-align: right;
  width: 100%; }
  header h1,
  header h2 {
    font-family: 'Tangerine', cursive;
    font-weight: 100;
    margin: 0;
    padding-right: 20px; }
  header h1 {
    font-size: 70px;
    padding-top: 50px; }
  header h2 {
    font-size: 30px;
    padding-top: 20px; }

article div {
  display: block;
  padding: 20px; }
article h1 {
  display: block;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0; }
article h2 {
  color: #777;
  display: inline-block;
  font-size: 16px;
  font-weight: 100;
  margin: 0;
  padding: 0; }
article img {
  clear: left;
  float: left;
  height: 200px;
  margin-right: 20px;
  width: 200px; }
article p {
  font-size: 14px; }

.padding-left p,
.padding-left h3 {
  padding-left: 36px;
  padding-right: 15px; }

footer {
  text-align: center; }

.fa {
  width: 35px; }

.testimonial-wrapper {
  margin: 0 auto;
  width: 500px; }

.padding-wrapper {
  padding: 20px; }
  .padding-wrapper h1 {
    margin-top: 35px; }

.dbl-border {
  height: 7px;
  width: 100%; }

.border-top {
  border-bottom: solid 1px #000;
  border-top: solid 5px #000; }

.border-bottom {
  border-bottom: solid 5px #000;
  border-top: solid 1px #000; }

.services-contact {
  padding: 0 56px; }
  .services-contact .wufoo {
    margin: 20px 0 0; }
  .services-contact .btTxt {
    width: 100px;
    cursor: pointer; }
  .services-contact .btTxt:hover {
    background-color: #D6B474; }

.wufoo {
  width: 500px;
  max-width: 100%;
  margin: 20px auto; }
  .wufoo ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .wufoo li {
    margin-bottom: 10px; }
    .wufoo li div {
      padding: 0; }
  .wufoo input,
  .wufoo select {
    height: 30px;
    padding-left: 5px; }
  .wufoo input,
  .wufoo textarea {
    border-radius: 5px;
    border: solid 1px #999;
    margin-bottom: 15px;
    margin-top: 5px;
    width: 100%;
    resize: none; }
  .wufoo .req {
    color: #f00;
    font-size: 10px; }
  .wufoo .hide {
    display: none; }
  .wufoo button {
    padding: 10px 20px;
    border: solid 1px #c4943a;
    background-color: #D6B474;
    cursor: pointer; }

/*# sourceMappingURL=main.css.map */
