@media screen and (max-width: 480px) {  
  header {  
    background: #eee;
    height: 100%;
    position: relative;
    text-align: center;   

    .social-icon {   
      height: auto; 
      margin: 15px 1.25%;
      width: 20%;
    }

    .social_media_wrapper {
      margin-right: 0;
      max-height: 100%;
    }

    h2 {
      float: none;
      width: 100%;
    }
  }

  nav {
    display: none;
  }

  .blog-image {
    display: none;
  }

  .mobile-nav {
    display: inline;  
    height: 100%;
    margin-bottom: 0;

    li {
      border: 1px solid #bbb;
      width: 100%;
    }

    ul {
      height: 100%;
    }
  }

  .ac_video,
  .ll_video {
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 565px) { 
  header {  
    background: #eee;
    height: 100%;
    position: relative;
    text-align: center;

    .social-icon {
      height: auto;
      margin: 15px 1.25%;    
      width: 12%;
    }

    .social_media_wrapper {
      margin-right: 0;
      max-height: 100%;
    }

    h2 {
      float: none;
      width: 100%;
    }
  }

  nav {
    display: none;
  }

  .blog-image {
    display: none;
  }

  .mobile-nav {
    display: inline;  
    height: 100%;
    margin-bottom: 0;

    li {
      border: 1px solid #bbb;
      width: 100%;
    }

    ul {
      height: 100%;
    }
  }

  .ac_video,
  .ll_video {
    width: 90%;
  }
}

@media screen and (min-width: 566px) and (max-width: 640px) { 
  header {  
    background: #eee;
    height: 100%;
    position: relative;
    text-align: center; 

    .social-icon { 
      height: auto;
      margin: 15px 1.25%;   
      width: 12%;
    }

    .social_media_wrapper {
      margin-right: 0;
      max-height: 100%;
    }

    h2 {
      float: none;
      width: 100%;
    }
  }

  nav {
    display: none;
  }

  .blog-image {
    display: inline;
  }

  .mobile-nav {
    display: inline;  
    height: 100%;
    margin-bottom: 0;

    li {
      border: 1px solid #bbb;
      width: 100%;
    }

    ul {
      height: 100%;
    }
  }

  .ac_video,
  .ll_video {
    width: 80%;
  }
}

@media screen and (min-width: 641px) and (max-width: 850px) { 
  header { 
    background-image: url('../images/header3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
    max-height: 100%;
    text-align: right;

    .social-icon { 
      height: auto;   
      width: 8%;
    }

    .social_media_wrapper {
      clear: both;
      margin-right: 0;
    }

    h2 {
      display: inline-block;
      float: right; 
      width: 35%;  
    }

    h1 {
      padding-top: 1%;
    }
  }

  .blog-image {
    display: inline;
  }

  .mobile-nav {
    display: none;
  }

  nav {
    margin-bottom: 0;
  }

  .ac_video,
  .ll_video {
    width: 65%;
  }
}

 // SERVICES //
@media screen and (max-width: 700px) {
  .services-contact h3 {
    width: 100%;
  }

  .services-title,
  .services-list {
    margin: 0 auto 10px;
    width: 90%;
  }

  .services-offered {
    padding-bottom: 5px;
  }

  .services-offered span {
    display: block; 
    width: 90%;
  }
}
